@import "../color";

.alternated-highlights {
	width: 100%;
	@include flexContainer;

	.item {
		width: 100%;
		@include displayFlex;

		&.alternate {
			background-color: $light-grey;
		} 

		.text-wrapper, .image-container {
			width: 50%;
		}

		.text-wrapper {
			@include displayFlex;
			@include flexDirection(column);
			padding: 5rem;
			line-height: 1.5rem;
			align-self: center;

			.head-text {
				@include displayFlex;
				@include flexDirection(column);

				.thumbnail {
					align-self: flex-start;
					@include thumbnail;
				}
			}

			p {
				line-height: 1.3rem;
			}
		}

		.image-container {
			padding: 5rem;
			align-self: center;

			img {
				object-fit: contain;
				max-width: 100%;
				height: auto;
			}
		}
	}
}

 /* Smartphones (landscape) ----------- */
 @media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
 	.alternated-highlights {
 		.item {
 			.text-wrapper, .image-container {
 				padding: 2.5rem;
 			}
 		}
 	}
 }

 /* Smartphones (portrait) ----------- */
 @media only screen and (max-width : $screen-sm-max-portrait) {
 	.alternated-highlights {
 		.item {
 			@include flexDirection(column);

 			&.alternate {
 				@include flexDirection(column-reverse);
 			} 

 			.text-wrapper, .image-container {
 				box-sizing: border-box; 
 				width: 100%;
 			}

 			.text-wrapper {
 				width: 100%;
 				padding: 0 2.5rem 2.5rem 2.5rem;

 				.head-text {
 					@include displayFlex;
 					@include flexDirection(row);

 					.thumbnail {
 						align-self: center;
 						margin-right: 1.5rem;
 					}

 					@include headings {
 						@include flex(1);
 					}
 				}
 			}

 			.image-container {
 				padding: 2.5rem 2.5rem 0 2.5rem;
 			}
 		}
 	}
 }