@import "../mixin_helpers";

.featured-items {
	align-items: flex-start;
	width: 100%;
	@include flexContainer;
	padding: 3rem;

	.item {
		padding: 2rem;
		text-align: center;
		  @include displayFlex;
		  @include flexDirection(column);

		.illustration {
			width: 4rem;
			height: 4rem;
			background-size: cover; 
			background-repeat: no-repeat;
			border-radius: 0.5rem;
		}

		p {
			line-height: 1.3rem;
		}
	}
}

 /* Smartphones (landscape) ----------- */
 @media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
 	.featured-items {
 		padding: 0;
 	}
 }

 /* Smartphones (portrait) ----------- */
 @media only screen and (max-width : $screen-sm-max-portrait) {
 	.featured-items {
 		padding: 0;
 	}
 }