@import "../color";
@import "../mixin_helpers";

.navbar {
	display: block;
	position: fixed;
	z-index: 10000;

	&.navbar-dark {
		*{color: $nav-font-light;}
		background-color: $nav-dark;
		[type="search"] {
			background-color: $nav-dark;
		}
	}

	&.navbar-light {
		* {color: $nav-font-dark;}
		background-color: $nav-light;
		[type="search"] {
			background-color: $nav-light;
		}
	}

	&.navbar-collapse {
		width: 20rem;
		box-sizing: border-box;
		padding: 1.6rem 1.8rem;
		@include transition(transform .2s ease-in-out);
		height: 100%;

		.navbar-container {
			@include displayFlex;
			@include flexDirection(column);
		}

		&.active {
			animation-timing-function: ease-in;
		}

		li {
			list-style: none;
			cursor: pointer;
		}

		[type="search"] {
			-webkit-appearance: textfield;
			box-sizing: border-box;
			border: solid 1px $grey;
			padding: 0.5rem 1rem;
			border-radius: 1rem;
			font-size: 1rem;
			&:focus {
				outline: none;
			}
		}

		.search-icon {
			float: right;
		}

		.navbar-section {
			padding-top: 30px;
		}

		.navbar-section {
			@include headings {
				text-transform: uppercase;
				font-size: 16px;
				margin: 0;
				cursor: pointer;
			}
		}

		.navbar-section ul {
			margin-top: 0.5rem;
		}

		.navbar-section li {
			padding: 0.7rem;
		}

		.navbar-section li a {
			font-size: 0.9rem;
		}

		&.navbar-right {
			right: -23.6em;

			&.active {
				transform: translate3d(-23.6rem, 0px, 0px);
			}
		}

		&.navbar-left {
			left: -23.6em;

			&.active {
				transform: translate3d(23.6rem, 0px, 0px);
			}
		}
	}
}

.navbar-switcher {
	display: block;
	position: absolute;
	cursor: pointer;
	top: 2rem;
	z-index: 2;
	font-size: 1.5rem;
	color: white;
	border: 0;
	background-color: transparent;
	color: black;
	&:focus {
		outline: 0;
	}
}

.menu-burger::before {
	font-family: 'StarterKit';
	content: '\e006';
	width: 2rem;
	height: 2rem;
}

.right-top-corner {
	position: absolute;
	top: 2rem;
	right: 2rem;
}

.left-top-corner {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

@media only screen and (max-width : $screen-sm-max-portrait) {
	.navbar-collapse {
		width: 70%;
		[type="search"]  {
			margin: 1rem 0;
			width: 100%;
		}
	}
}

@media only screen and (max-width : $screen-sm-max-portrait + 1) {
	.navbar-collapse {
		width: 70%;
		[type="search"]  {
			width: 16em;
			max-width: 16rem;
		}
	}
}