@import "../text_helpers";
@import "../mixin_helpers";
@import "../color";

.video-banner {
	width: 100%;
	color: white;
	position: relative;

	&.video-banner-dark .video{
		background-color: $black;
	}

	&.video-banner-light .video {
		background-color: $white;
	}

	&.full {
		height: 100vh;
		.video, video {
			height: 100vh;
			.video-container  {
				p {
					@include lineClamp(8);
				}
				.title {
					@include lineClamp(3);
				}
			}
		}
	}

	&.medium {
		height: 50vh;
		.video, video {
			height: 50vh;
			.video-container  {
				p {
					@include lineClamp(5);
				}
				.title {
					@include lineClamp(3);
				}
			}
		}
	}

	&.small {
		height: 25vh;
		.video, video {
			height: 25vh;
			.video-container  {
				p {
					@include lineClamp(3);
					  font-size: 1.2rem;
				}
				.title {
					@include lineClamp(1);
					font-size: 2rem;
				}
			}
		}
	}

	.video {
		-webkit-transition: opacity 0.4s;
		transition: opacity 0.4s;
		background-size: cover;
		@include displayFlex;
		position: absolute;
		height: 100%;
		width: 100%;
		background-size: cover;
		box-sizing: border-box;

		video {
			min-width: 100%; 
			width: auto; 
			overflow: hidden;
			align-self:  center;
			width: 100%;
		}

		.video-container {
			display: flex;
			@include flexDirection(column);
			position: absolute;
			left: 50%;
			top: 50%;
			width: 80%;
			z-index: 2;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

			.title {
				font-size: 2rem;
			}
			p {
				margin-top: 2rem;
				font-size: 1.3rem;
				line-height: 1.9rem;
			}
		}
	}
}

 /* Smartphones (landscape) ----------- */
 @media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
 	.video-banner {
		height: 100vh!important;
		.video, video {
			height: 100vh!important;
			.video-container  {
				p {
					@include lineClamp(5);
				}
				.title {
					@include lineClamp(2);
				}
			}
		}
	}
 }

 /* Smartphones (portrait) ----------- */
 @media only screen and (max-width : $screen-sm-max-portrait) {
 	.video-banner {
 		&.small {
 			height: 50vh;
 			.video, video {
 				height: 50vh;
 				.video-container  {
 					p {
 						@include lineClamp(5);
 					}
 					.title {
 						@include lineClamp(3);
 					}
 				}
 			}
 		}
 	}
 }