.centered-highlight {
	position: relative;
	.thumbnail {
		position: relative;
		top: 0;
		left: 50%;
		transform: translate(-1.5rem, -1.5rem);
	}

	.text-wrapper {
		position: relative;
		top: 0;
		left: 0;
		transform: translate(50%, 0);
	}
}

.alternated-highlights {

	.item {
		.text-wrapper, .image-container {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.featured-items { 
	display: inline-block;
	text-align: center;

	.item {
		display: inline-block;
		vertical-align: top;

		&.col-4 {
			max-width: 33%;
			min-width: 33%;
		}

		&.col-6 {
			max-width: 49%;
			min-width: 49%;
		}
	}
}

.accordions {
	.item {
		label {
			display: inline-block;

			span, i {
				display: inline-block;
			}

		}
	}
}