@import "../color";
@import "../base";
@import "../mixin_helpers";

.alternated-highlights {
	width: 100%;
	box-sizing: border-box;
	@include flexContainer;

	.item {
		width: 100%;
		display: inline-block;
		display: flex;

		&.alternate {
			background-color: $light-grey;
		} 

		.text-wrapper, .image-container {
			width: 50%;
		}

		.text-wrapper {
			min-width: 50%;
			max-width: 50%;
			flex-direction: column;
			align-self: center;
			padding: 5rem;
			line-height: 1.5rem;

			.head-text {
				display: flex;
				flex-direction: column;

				.thumbnail {
					align-self: flex-start;
					@include thumbnail;
				}

				@include headings {
					line-height: 2rem;
				}
			}

			p {
				line-height: 1.3rem;
			}
		}

		.image-container {
			min-width: 50%;
			max-width: 50%;

			align-self: center;
			padding: 5rem;

			img {
				object-fit: contain;
				max-width: 100%;
				height: auto;
			}
		}
	}
}

 /* Smartphones (landscape) ----------- */
 @media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
 	.alternated-highlights {
 		.item {
 			.text-wrapper, .image-container {
 				padding: 2.5rem;
 			}
 		}
 	}
 }

 /* Smartphones (portrait) ----------- */
 @media only screen and (max-width : $screen-sm-max-portrait) {
 	.alternated-highlights {
 		.item {
 			flex-direction: column;

 			&.alternate {
 				flex-direction: column-reverse;
 			} 

 			.text-wrapper, .image-container {
 				box-sizing: border-box; 
 				width: 100%;
 			}

 			.text-wrapper {
 				padding: 2rem;
 				min-width: 100%;
 				max-width: 100%;

 				@include headings {
 					margin: 1em 0 0 0; 
 					flex: 1;
 				}

 				.head-text {
 					display: flex;
 					flex-direction: row;
 					.thumbnail {
 						align-self: flex-end;
 						margin-right: 1.5rem;
 					}
 				}
 			}

 			.image-container {
 				padding: 1.5rem 0;
 			}
 		}
 	}
 }