.illustration {
	width: 100%;
	box-sizing: border-box;

	&.content-width {
		padding: 5rem;
	}

	img {
		width: 100%;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
	.illustration {
		&.content-width {
			padding: 2.5rem;
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : $screen-sm-max-portrait) {
	.illustration {
		&.content-width {
			padding: 2.5rem;
		}
	}
}