.paragraph {
  display: flex;
  width: 100%;
  padding: 3rem;
  flex-wrap: wrap;
  flex-direction: row;

  .container {
    padding: 1rem;
    flex-direction: column;

    p {
      line-height: 1.2rem;
      max-width: 70rem;
      width: 100%;
    }
  }
}