@import "../mixin_helpers";
@import "../color";

.paragraph {
  display: flex;
  width: 100%;
  padding: 3rem;
  flex-wrap: wrap;
  flex-direction: row;

  .container {
    padding: 2rem;
    flex-direction: column;

    @include headings {
      border-bottom: 1px solid $mid-grey;
      padding-bottom: 1rem;
    }

    p {
      line-height: 1.2rem;
      max-width: 70rem;
      width: 100%;
    }
  }
}