@import '../base';
@import '../color';

$column-min-width: 420px;

@mixin pad-ratio($x, $y, $selector: img) {
  position: relative;
  height: 0;
  #{$selector} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.photo-gallery {
  padding: 1px;
  position: relative;
  height: auto;
  font-size: 0;
}
.element-to-stretch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: teal;
}

.wrapper-1x1 .inner {
  @include pad-ratio(1, 1);
  padding: 0 0 101% 0;
}
.wrapper-2x1 .inner {
  @include pad-ratio(2, 1);
  padding: 0 0 50% 0;
}

.wrapper {
  padding: 2px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;

  .action-pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $transparent-sky-blue;
    z-index: 1;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height .3s ease-in-out;

    > span {
      color: white;
      border: 3px solid white;
      border-radius: 50%;
      padding: 0.7rem;
      font-size: 1.6rem;
      opacity: 0;
      transition: opacity .1s linear;
      cursor: pointer;
      * { color: white; }
    }
  }

  &.active {
    .action-pane {
      height: 100%;

      > span {
        opacity: 1;
        transition: opacity 0.3s cubic-bezier(0.54,-0.03, 1, 0.24);
      }
    }
  }
}

.wrapper-1x1 {
  width: 16,66%;
}
.wrapper-2x1 {
  width: 33,33%;
}

.inner {
  background-size: cover;
  background-position: center;
}

.preview-image {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1001;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: none;

  &.pre-active {
    display: flex;
  }

  &.active {
    opacity: 1;
  }

  img {
    width: 80%;
    max-height: 80%;
    object-fit: contain;
  }
}

@media only screen and (max-width : $screen-lg-max) {
  .wrapper-1x1 {
    width: 16.66%;
  }
  .wrapper-2x1 {
    width: 33.33%;
  }
}

@media only screen and (max-device-width : $mid-size-large-screen){
  .wrapper-1x1 {
    width: 20%;
  }
  .wrapper-2x1 {
    width: 40%;
  }
}

@media only screen and (max-width : $screen-md-max) {
  .wrapper-1x1 {
    width: 25%;
  }
  .wrapper-2x1 {
    width: 50%;
  }
}

@media only screen and (max-width : $screen-sm-max-portrait) {
  .wrapper-1x1 {
    width: 50%;
  }
  .wrapper-2x1 {
    width: 100%;
  }
}

 @media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
  .preview-image img {
    width: 100%;
  }
}

 /* Smartphones (portrait) ----------- */
 @media only screen and (max-width : $screen-sm-max-portrait) {
  .preview-image img {
    width: 100%;
  }
 }