@import "../base";
@import "../color";

.section-header {
	width: 100%;
	box-sizing: border-box;
	color: $dark-grey;
	background-color: $light-grey;
	padding: 5rem;

	&.small {
		height: 25vh;
	}

	&.medium {
		height: 50vh;
	}

	&.large {
		height: 100vh;
	}


	display: flex;
	flex-direction: row;
	background-size: cover;
	background-position: center;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 3rem;

	.text-wrapper {
		flex: 5;
		box-sizing: border-box;
		min-width: 60%;
		display: inline-block;
		vertical-align: middle;
		padding: 3rem;
		p {
			line-height: 1.9rem;
		}

		@include headings {
			font-weight: bold;
		}
	}

	.image-container {
		flex: 2;
		padding: 2rem;
		max-height: 100%;
		display: inline-block;
		vertical-align: middle;
		width: 30%;
		margin: 0 2.5%;

		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&.section-header-centered {
		background-color: $sky-blue;
		text-align: center;
		@include centerContent;

		.text-wrapper {
			font-weight: bold;
		}

		* {
			color: $white;
		}
	}
}


 /* Smartphones (landscape) ----------- */
 @media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
 	.section-header {
 		padding: 2.5rem;
 	}
 }

 /* Smartphones (portrait) ----------- */
 @media only screen and (max-width : $screen-sm-max-portrait) {
 	.section-header {
 		padding: 2.5rem;
 		flex-direction: column;

 		.text-wrapper {
 			padding: 0;
 			font-size: 1.2rem;
 			text-align: center;
 			width: 100%;
 		}
 		.image-container {
 			width: 100%;
 		}
 	}
 }