@import "../text_helpers";
@import "../mixin_helpers";
@import "../color";

.slider {
	width: 100%;
	position: relative;
	height: 100vh;

	&.slider-dark {
		* { color: $white;}

		.slide::before {
			background-color: $black;
			opacity: 0.4;
		}
	}

	&.slider-light {
		* { color: $dark-grey;}

		.slide::before {
			background-color: $white;
			opacity: 0.3;
		}
	}

	&.medium {
		height: 60vh;
		.slide {
			height: 60vh;
			.slide-container  {
				p {
					@include lineClamp(5, 1.3, 1.9);
				}
				.title {
					@include lineClamp(3, 2, 1);
				}
			}
		}
	}

	&.small {
		height: 35vh;
		.slide {
			height: 35vh;
			.slide-container  {
				p {
					@include lineClamp(3, 1.3, 1.9);
					  font-size: 1.2rem;
				}
				.title {
					@include lineClamp(1, 2, 1);
				}
			}
		}
	}

	.slide {
		transition: opacity 0.4s;
		background-size: cover;
		background-position: center;
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: $dark-blue;
		opacity: 0;
		box-sizing: border-box;
		height: 100vh;

		[class *="arrow-"] {
			position: absolute;
			text-align: center;
			font-weight: bold;
			display: block;
			z-index: 10;
			color: #FFF;
			width: 2rem;
			cursor: pointer;
			height: 2rem;
			background-size: 100%;
			top: 50%;
			-webkit-transform: translatey(-50%);
			-ms-transform: translatey(-50%);
			transform: translatey(-50%);
		}

		.arrow-prev {
			left: 1.5rem;
		}

		.arrow-next {
			right: 1.5rem;
		}

		&::before {
			content: "";
			display: block;
			position: absolute; /* could also be absolute */ 
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
		}

		&.active {
			opacity: 1;
		}

		img {
			position: absolute;
			min-width: 100%; 
			min-height: 100%; 
			width: auto; 
			height: auto;
			overflow: hidden;
		}

		.slide-container {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 80%;
			z-index: 2;
			transform: translate(-50%, -50%);

			.title {
				* { font-size: 2rem; margin: 0 0 0.2rem 0;}
				@include lineClamp(3, 2, 1);
				font-size: 2rem;
				margin: 1.5rem 0;
			}

			p {
				font-size: 1.3rem;
				line-height: 1.9rem;
				@include lineClamp(8, 1.3, 1.9);
			}
		}
	}
}

 /* Smartphones (landscape) ----------- */
 @media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
 	.slider {
		height: 100vh!important;
		.slide {
			height: 100vh!important;
			.slide-container  {
				p {
					@include lineClamp(5, 1.3, 1.9);
				}
				.title {
					@include lineClamp(2, 2, 1);
				}
			}
		}
	}
 }

 /* Smartphones (portrait) ----------- */
 @media only screen and (max-width : $screen-sm-max-portrait) {
 	.slider {
 		text-align: center;
 		.slide [class *="arrow-"] {
 			bottom: 5%;
 			top: initial;
 		} 
 		
 		&.small {
 			min-height: 50vh!important;
 			.slide { 
 				min-height: 50vh!important;
 				.slide-container  {
 					p {
 						@include lineClamp(2, 1.2, 1.3);
 						font-size: 1.2rem;
 					}
 					.title {
 						@include lineClamp(1, 2, 1);
 						> * {font-size: 2rem;}
 					}
 				}
 			}
 		}

 		 &.medium {
 			min-height: 50vh!important;
 			.slide { 
 				min-height: 50vh!important;
 				.slide-container  {
 					p {
 						@include lineClamp(3, 1.2, 1.3);
 						font-size: 1.2rem;
 					}
 					.title {
 						@include lineClamp(2, 2, 1);
 						font-size: 2rem;
 					}
 				}
 			}
 		}
 	}
 }