@import "../text_helpers";
@import "../mixin_helpers";
@import "../color";

.video-banner {
	width: 100%;
	color: white;
	position: relative;
	height: 100vh;
	min-height: 20rem;

	.video-banner .video [data-oembed-type="video"]{
		width: 100%;
		height: 100%;
	}

	&.video-banner-dark .video{
		background-color: $black;
		* { color: $white;}

		&::before {
			background-color: $black;
			opacity: 0.2;
		}
	}

	&.video-banner-light .video {
		background-color: $white;
		* { color: $dark-grey;}

		&::before {
			background-color: $white;
			opacity: 0.3;
		}
	}

	&.medium {
		height: 50vh;
		.video {
			height: 50vh;
			video {
				height: 50vh;
			}
			.video-container  {
				p {
					@include lineClamp(2, 1.3, 1.9);
				}
				.title {
					@include lineClamp(2, 2, 1);
					font-size: 2rem;
				}
			}
		}
	}

	&.small {
		height: 25vh;
		.video {
			height: 25vh;
			video {
				height: 25vh;
			}
			.video-container  {
				p {
					@include lineClamp(1, 1.3, 1.9);
					font-size: 1.2rem;
				}
				.title {
					@include lineClamp(1, 2, 1);
					font-size: 2rem;
					margin: 1rem;
				}
			}
		}
	}

	.video {
		-webkit-transition: opacity 0.4s;
		transition: opacity 0.4s;
		background-size: cover;
		background-position: center;
		display: flex;
		position: absolute;
		width: 100%;
		background-size: cover;
		box-sizing: border-box;
		height: 100vh;
		min-height: 20rem;

		&::before {
			content: "";
			display: block;
			position: absolute; /* could also be absolute */ 
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			opacity: 0.3;
		}

		video {
			min-width: 100%; 
			width: auto; 
			overflow: hidden;
			align-self: center;
			width: 100%;
			height: 100vh;
			min-height: 20rem;
		}

		.video-container {
			display: flex;
			flex-direction: column;
			position: absolute;
			justify-content: center;
			align-items: center;
			text-align: center;
			left: 50%;
			top: 50%;
			width: 80%;
			z-index: 2;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

			.play {
				margin: 1rem;

				&::after {
						font-family: StarterKit;
						content: '\e014';
						font-size: 3.6rem;
						padding: 1rem;
						border: 2px solid $orange;
						border-radius: 50%;
						padding-left: 1.3rem;
				}
			}

			.title {
				font-size: 3rem;
				@include lineClamp(3, 3, 1);
				margin: 1.5rem;
				@include headings {
					margin: 0;
					* {margin: 0 0 0.2rem 0;}
				}
			}
			p {
				@include lineClamp(8, 1.3, 1.9);
				font-size: 1.3rem;
				line-height: 1.9rem;
			}
		}
	}

	&.active {
		.video {
			&::before {
				display: none;
			}
		}
		.video, video {
			.video-container  {
				width: 100%;
				top: 0;
				.play {
					opacity: 0.2;
					position: absolute;
					top: 1.5rem;
					left: 0rem;

					&::after {
						font-family: 'StarterKit';
						content: '\e016';
						opacity: 1;
						border: 0;
						font-size: 1rem;
						cursor: pointer;
					}
					&:hover {
						opacity: 1;
					}
				}
				p {
					display: none;
				}
				.title {
					display: none;
				}
			}
		}
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : $screen-sm-min-landscape) and (max-width: $screen-sm-max-landscape) {
	.video-banner {
		height: 100vh!important;
		.video, video {
			height: 100vh!important;
			.video-container  {
				p {
					@include lineClamp(5, 1.3, 1.9);
				}
				.title {
					@include lineClamp(2, 3, 1);
				}
			}
		}
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : $screen-sm-max-portrait) {
	.video-banner, .video-banner.medium, .video-banner.small {
		height: 33vh!important;
		.video, video {
			height: 33vh!important;
			.video-container  {
				p {
					@include lineClamp(2, 1.3, 1.9);
				}
				.title {
					@include lineClamp(1, 2, 1);
					@include headings {
						font-size: 2rem;
					}
					font-size: 2rem;
					margin: 1rem;
				}
			}
		}
	}
}