$nav-dark: #181818; 
$nav-font-light: #ffffff;
$nav-light: #F3F3F9;
$nav-font-dark: #0b0d57; 

$black : #000000;
$white: #ffffff;
$grey: #4e4e4e;
$dark-grey: #181818;
$dark-blue: #162C4B;
$orange: #f5b45d;
$light-grey: #F2F6FA;
$sky-blue: #4187d2;