 @import "color";

 	html * {
 		-webkit-font-smoothing: antialiased;
 		color: $grey;
 	}

 	h1, h2, h3 {
 		color: $dark-grey;
 	}
 	h1 {
 		font-size: 2.5rem;
 		font-weight: 500;
 		margin: 1.5rem 0;
 	}

 	h2 {
 		font-size: 2rem;
 		font-weight: 500;
 		margin: 1.5rem 0;
 	}

 	h3 {
 		font-size: 1.4rem;
 		font-weight: 500;
 		margin: 1.5rem 0;
 	}