@mixin displayFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -webkit-flexbox;

  display: -moz-box;
  display: -moz-flexbox;
  display: -moz-flex;

  display: -ms-box;
  display: -ms-flexbox;
  display: -ms-flex;

  display: box;
  display: flexbox;
  display: flex;
}

@mixin flex($value) {
  -webkit-box-flex: $value;
  -webkit-flex: $value;

  -ms-box-flex: $value;
  -ms-flex: $value;

  -moz-box-flex: $value;
  -moz-flex: $value;

  flex: $value;
  box-flex: $value;
}

@mixin flexWrap($value) {
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flexDirection($value) {
  -webkit-flex-direction: $value;
  -moz-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin lineClamp($nbLines) {
  display: -webkit-box;
  -webkit-line-clamp: $nbLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

@mixin flexContainer {
  @include displayFlex;
  @include flexWrap(wrap);
  @include flexDirection(row);
}